# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# batch helpers
install.bat
install-xlsx.bat
install-pdf.bat
dev.bat
